.col-md-12 #index_page_entry {
	width: 80%;
	margin: auto;
}

.col-md-12 #index_page_entry h2 {
	font-weight: bold;
}

#listing-location {
	margin-bottom: 8em;
}

.roommate-single {
	margin-bottom: 20px;
}

.roommate-single img {
	border-radius: 50%;
	margin-right: 5px;
}

.roommate-single .button {
	margin-top: 15px;
	float: right;
}

.roommate-finder-avatar img {
	width: 20%;
	border-radius: 50%;
}

#roommate-dialog .small-dialog-header {
	margin-bottom: 15px;
}

#roommate-dialog .panel-dropdown {
	margin-bottom: 20px;
}

#find-roommate span {
	float: right;
	font-size: 15px;
}

.user-profile h3 {
	font-weight: bold;
	text-align: center;
}

.user-profile img {
	width: 20%;
	height: auto;
	display: block;
  margin: 0 auto;
}

.user-profile-msg {
	margin-top: 1.5em;
	margin-left: auto;
  margin-right: auto;
  width: 9em;
}

.user-profile-info,
.user-profile-bookmarks {
	padding: 1em;
	border-style: ridge;
	box-shadow: 2px 2px 2px #888888;
	color: #262626;
}

.user-profile-info h4,
.user-profile-bookmarks h4 {
	font-weight: bold;
}

.user-profile-info span {
	float: right;
}

.div h4,
.div p {
    display: inline;
    vertical-align: top;
}
